@{
  ViewBag.Title = "ViewOpenMap";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewOpenMap</h2>

@*<input type="number" id="xCoor" />
  <input type="number" id="yCoor" />
  <input type="button" id="addMarkerBtn" value="Add marker" />
  <input type="button" id="addMarkerByClickBtn" value="Add marker by click" />
  <input type="button" id="selectMarkers" value="Select" />
  <input type="button" id="selectMarkersForRoute" value="Select markers for route" />
  <input type="button" id="deleteRoute" value="Delete Route" />
  <input type="button" id="AddMarkerClickBtn" value="Add button by click" />*@


<div id="mainPage" ng-app="TestMaps">
  <div id="mainBody" ng-controller="TestMapsController">
    <input type="button" id="AddMarkerClickBtn" ng-click="clickBtn()" value="Click for add random point" />
    <div id="map" style="width: 1000px; height: 400px;"></div>
    <table>
      <thead>Markers</thead>
      <tr>
        <th>Location</th>
        <th>Draggable</th>
        <th>Selected</th>
      </tr>
      <tr ng-repeat="marker in markers">
        <td>{{ marker.latLng.lat + " and " + marker.latLng.lng }}</td>
        <td><input type="checkbox" ng-model="marker.draggable" ng-click="makeDraggable(marker)" /></td>
        <td><input type="checkbox" ng-model="marker.selected" ng-click="makeSelected(marker)" /></td>
      </tr>
    </table>
    
    <br/>
    
    <table ng-show="selectedMarkers.length > 0">
      <thead>{{ selectedMarkers.length > 0 ? "Selected Markers" : ""}}</thead>
      <tr>
        <th>Location</th>
        <th>Draggable</th>
        <th>Selected</th>
      </tr>
      <tr ng-repeat="marker in selectedMarkers">
        <td>{{ marker.latLng.lat + " and " + marker.latLng.lng }}</td>
        <td><input type="checkbox" ng-model="marker.draggable" ng-click="makeDraggable(marker)" /></td>
        <td><input type="checkbox" ng-model="marker.selected" ng-click="makeSelected(marker)" /></td>
      </tr>
    </table>
  </div>
</div>
@*<div id="route-results"></div>
  <div id="duh"></div>*@

@section scripts{
  <script src="~/Scripts/angular.js"></script>
  <script src="~/Scripts/MapQuest.js"></script>
  <script src="~/Scripts/CustomJs/MarkerViewModel.js"></script>
  <script src="~/Scripts/CustomJs/PubSub.js"></script>
  <script src="~/Scripts/CustomJs/MapController.js"></script>
<script src="~/Scripts/CustomJs/AngularOpenMaps.js"></script>
  <script src="~/Scripts/CustomJs/TestMapsController.js"></script>
}