@{
    ViewBag.Title = "ViewMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMap</h2>

<input type="number" id="xCoor" />
<input type="number" id="yCoor" />
<input type="button" id="addMarkerBtn" value="Add marker" />
<input type="button" id="selectMarkers" value="Select Markers" />
<div id="mapDiv" style="cursor: pointer"></div>

@section scripts
{
    <link rel="stylesheet" href="http://js.arcgis.com/3.12/esri/css/esri.css">
<style id="styleDiv">
  html, body, #mapDiv {
    padding: 0;
    margin: 0;
    height: 100%;
  }
</style>
  <script src="~/Scripts/arcgis.js"></script>
  <script src="~/Scripts/CustomJs/Init.js"></script>
}